body {
    font-family: 'Assistant', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
.button {
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
}

h1 {
    color: #f7941d;
    font-size: 35px;
    line-height: 1.1;
    margin-bottom: 10px;
}

h2 {
    color: #f7941d;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 0px;
}

h3 {
    color: #fff;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    color: #fff;
    font-size: 20px;
    margin-top: 0px;
}

.about {
    background: #176d8d;
    margin: auto;
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
}

.container h2 {
    margin-bottom: 20px;
    margin-top: 10px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 0px;
}

.button {
    color: #f7941d;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 10px 15px;
    display: inline-block;
    transition: 0.3s;
    border-radius: 20px;

}

.button:hover {
    background: #fff;
}

.about img {
    display: block;
}

.logo {
    max-width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}

.gallery {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.gallery img {
    display: block;
    margin: auto;
}

.about h2 {
    text-align: right;
    font-size: 30px;
    color: #f7941d;
    margin-bottom: 7px;
    color: #fff;
}

.contact {
    background: #176d8d;
    text-align: center;
    margin-top: 60px;
    padding: 20px 0px;
    background-size: 100%;
    background: url(img1/background.jpg) center 90%;
}

.contact a {
    text-decoration: none;
}

a {
    color: #f7941d;
}

.contact ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.contact li {
    margin-bottom: 7px;
    margin-top: 5px;
}

.footer {
    background: #fff;
    text-align: center;
    padding: 30px 0;
    background: #fff;
}

.footer a {
    margin: 0 10px;
}

.contact h2 {
    margin-bottom: 7px;
    color: #fff;
    margin-top: 0px;
}

.contact p {
    margin-top: 15px;
    margin-bottom:15px;
    color: #f7941d;
}

.contact a:hover {
    text-decoration: underline;
    margin-top: 40px;
}
 input{
    color: #fff;
background: none;
     border: 0;
    border-bottom:3px solid;
     padding: 2px;
}
.news input{
      background: transparent;

}
input:focus{
    outline: 0;
   background: rgba(0,0,0,0.5);
    
}
label {
   padding: 10px;
    color: #fff;
}
input.button{
    padding: 8px 12px;
    border-radius: 18px;
}